<header id="header">
    <div class="header-item">
        <a href="{{ site.baseurl }}/" class="brand"><img src="{{ '/assets/logo-rocket.svg' | relative_url }}" title="Logo"></a>
    </div>

    <nav class="header-item" role="navigation">
        <ul>
        {% assign pages = site.pages | sort: "weight" %}
        {% for node in pages %}
            {% if node.title and node.weight %}
                {% assign current = false %}
                {% if page.url == '/' and node.url == '/' %}
                    {% assign current = true %}
                {% endif %}
                {% if node.url != '/' and page.url contains node.url %}
                    {% assign current = true %}
                {% endif %}
            <li{% if current %} class="active"{% endif %}><a href="{{ node.url }}">{{ node.title }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </nav>

    <div class="header-item">
        <div class="site-title">Damien ROTH</div>
    </div>
</header>
