<header id="header">
    <div class="header-item">
        <a href="{{ site.baseurl }}/" class="brand">&lt;&nbsp;YK&nbsp;&gt;</a>
    </div>

    <nav class="header-item" role="navigation">
        <ul>
            <li><a href="#">Home</a></li>
            <li class="active"><a href="#">About</a></li>
            <li><a href="#">Resume</a></li>
            <li><a href="#">Publications</a></li>
        </ul>
    </nav>

    <div class="header-item">
        <div class="site-title">Damien ROTH</div>
    </div>
</header>
