#header {
    background-color: $uno-6;
    transition: width 0.25s ease;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    @extend .shadow--16dp;

    @include bp-small {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 99;

        flex-flow: column nowrap;
        align-items: stretch;

        width: 15rem;
    }

    @include bp-normal {
        width: 20rem;
    }

    @include bp-large {
        width: 30rem;
    }

    .brand, .site-title {
        display: block;
        margin: 0;
        padding: 0;

        color: #FFF;
        font-weight: bold;
        text-align: center;
    }

    .brand {
        //font-size: 2em;
        text-decoration: none;
        transform: rotate(35deg);

        img {
            height: 40px;
            margin: 0 1rem;

            @include bp-small {
                margin: 1rem;
                width: 10rem;
                height: auto;
            }

            @include bp-normal {
                margin: 2rem;
                width: 15rem;
            }
        }
    }

    .site-title {
        font-size: 2em;

        @include bp-normal {
            font-size: 3em;
        }
    }
}

#header > nav {
    ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        list-style: none;
        margin: 0;
        padding: 0;

        @include bp-small {
            flex-direction: column;
        }
    }

    a {
        display: block;
        padding: 1em 1em;
        color: $duo-1;
        text-decoration: none;
        text-align: center;
        font-variant: small-caps;
    }

    .active a {
        background-color: darken($uno-5, 7%);
    }

    a:hover, a:active {
        text-decoration: none;
        color: $duo-1;
        background-color: darken($uno-5, 7%);
    }
}
